.remoteContainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    align-self: center;
}
div, img {
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}
body{

    font-family: Arial, sans-serif;
}