.remoteContainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    align-self: center;
}
div, img {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
body{

    font-family: Arial, sans-serif;
}